@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

header {
	background: black;
	color: white;
	padding: 8px 0px 6px 40px;
	height: 40px;

}

header h1 {
	display: inline;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 32px;
	float: left;
	margin-top: 0px;
	margin-right: 10px;

}

nav ul{
	display: inline;
	padding: 0px;
	float: left;

 }
nav ul li{
	display: inline-block;
	list-style-type: none;
	color: white;
	float: left;
	margin-left: 12px; 
}

nav ul li a {
	color: white;
	text-decoration: none;
}

#nav{
	font-family: 'Montserrat', sans-serif;
}

.homered{
	background-color: red;
	padding: 25px 10px 11px 10px;

}

.divider{
	background-color: red;
	height: 5px;
}

.homeblack:hover {
	background-color: blue;
	padding: 25px 10px 11px 10px;
}


.fwimage1{
	background-image: url(zz.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	 
}

.fwimage2{
	background-image: url(aboutme.jpeg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	 
}

.fwimage3{
	background-image: url(books.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	 
}
.fwimage4{
	background-image: url(pro.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	 
}
.fwimage5{
	background-image: url(black.jpg);
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0;
	 
}

.homesub{
	font-family: 'Sacramento', cursive;
	margin: 0;
	padding: 9% 5% 0% 15%;
	font-size: 50px;
	color: yellow;

}
.homesub1{
	font-family: 'Sacramento', cursive;
	margin: 0;
	padding: 9% 5% 0% 35%;
	font-size: 40px;
	color:  black;

}

.homedes{
	font-family: 'Sacramento', cursive;
	margin: 0;
	padding: 0.5% 5% 0% 20%;
	font-size: 40px;
	color: yellow;
}

.homepho{
	font-family: 'Sacramento', cursive;
	margin: 0;
	padding: 0.5% 5% 0% 20%;
	font-size: 40px;
	color: yellow;
}

.buttonhome{
	font-family: 'Fredoka One', cursive;
	margin: 0% 0% 0% 20%;
	background-color: #F4D03F  ;
	font-size: 20px;
	color: #141482;
	border: none;
}
